
<!-- Facebook Source
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
 -->
<!-- Loader -->
<div id="page-loader">  </div>
<!-- Loader / End -->

<!-- Header  -->
<header id="nav-content" class="vertical-nav nav-black nav-image">

  <!-- Logo -->
  <div class="my-logo">
      <a href="#profile"><img src="/assets/images/my-photo.jpg" alt="" /></a>
    </div>
    
    <!-- Navigation -->
    <ul class="menu nav me-nav">
      <li class="menu-item active"><a href="#profile"><span>Profile</span><i class="fa fa-user"></i></a></li>
        <li class="menu-item"><a href="#resume"><span>Resumo</span><i class="fa fa-pencil"></i></a></li>
        <li class="menu-item"><a href="#portfolio"><span>Portfolio</span><i class="fa fa-desktop"></i></a></li>
        <!--<li class="menu-item"><a href="#blog"><span>Blog</span><i class="fa fa-comment"></i></a></li>-->
        <li class="menu-item"><a href="#contact"><span>Contato</span><i class="fa fa-phone"></i></a></li>
    </ul>
    
    <!-- Copyright -->
    <span class="copyright hidden-md">© 2016 <b>Iago Velasco</b>.</span>

</header>
<!-- Header / End -->