<!-- Loader -->
<div id="page-loader" style="display: none;"><div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
  <div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div></div> </div>
<!-- Loader / End -->

<!-- Header  -->
<header id="nav-content" class="vertical-nav nav-white">

  <!-- Logo -->
  <div class="my-logo">
      <a href="#profile"><img src="/assets/images/my-photo.jpg" alt=""></a>
    </div>
    
    <!-- Navigation -->
    <ul class="menu nav me-nav">
      <li class="menu-item"><a href="#profile"><span>Profile</span><i class="fa fa-user"></i></a></li>
        <li class="menu-item"><a href="#resume"><span>Resumo</span><i class="fa fa-pencil"></i></a></li>
        <li class="menu-item active"><a href="#portfolio"><span>Portfolio</span><i class="fa fa-desktop"></i></a></li>
        <li class="menu-item"><a href="#blog"><span>Blog</span><i class="fa fa-comment"></i></a></li>
        <li class="menu-item"><a href="#contact"><span>Contato</span><i class="fa fa-phone"></i></a></li>
    </ul>
    
    <!-- Copyright -->
    <span class="copyright hidden-md">© 2016 <b>Iago Velaso</b>.</span>

</header>
<!-- Header / End -->