<div id="masthead">

<a href="{{ site.baseurl }}">
<img src="http://s.gravatar.com/avatar/7f772577654d9f37b9c41ff5c16dc279?s=200" title="Iago Velsco Imagem">
</a>

  <h1 class="sitetitle">
    <a href="{{ site.baseurl }}" class="sitetitle">{{ site.name }}</a>
  </h1>
  <p class="description">Front/Back-End Developer</p>

  <ul id="pagenav">
    <li><a href="{{ site.baseurl }}">Sobre Mim</a></li>
    <li><a href="{{ site.baseurl }}blog">Blog</a></li>
  </ul>

  <ul class="social-links">
    <li><a class="social-twitter" href="http://twitter.com/iagovelasco1">Twitter</a></li>
    <li><a class="social-facebook" href="http://www.facebook.com/iago.velasco.94">Facebook</a></li>
    <li><a class="social-github" href="https://github.com/iagovelasco">Github</a></li>
    <li><a class="social-email" href="mailto:iagovelasco@hotmail.com">Email</a></li>
  </ul>

</div> <!--/masthead-->
